div {
  width: 600px;
}

.addButton  {
  display: inline-block;

  padding: 5px 15px;
  margin: 5px;
  color: white;
  font-size: 1.6em;
  background-color: darkblue;
}

.deleteButton {
  display: inline-block;

  position: absolute;
  left: 0px;
  vertical-align: middle;
  padding: 10px 18px;
  color: white;
  font-size: 1.6em;
  background-color: darkblue;
}

.input  {
  display: inline-block;
  position: relative;
  text-align: center;
  border: 1.5px solid darkblue;
  width: 400px;
  height: 45px;
  margin: 5px;
  font-size: 30px;
  padding-left: 40px;
}

.li {
  display: inline-block;
  line-height: 70px;
  position: relative;
  list-style: none;
  border: 1.5px solid #0000e6;
  width: 410px;
  height: 70px;
  margin: 5px;
  font-size: 1.6em;
  padding-left: 90px;
}